.drawerBottom {
    position: "fixed";
    bottom: 0;
    text-align: "center";
    padding-bottom: 10;
}

.outsideIcon {
    display: 'flex';
    height: 'inherit';
    width: 'inherit';
}

.iconHolder {
    height: '100%';
}

.leftImage{
    margin: 'auto';
    display: 'block';
    max-width: '100%';
    max-height: '100%';
}

.leftBox{
    max-width: 175px;
    height: auto;
    float: left;
    padding-bottom: 10px;
}