/* Styling used across multiple app locations */

.App {
    text-align: center;
}

.HeaderSpacing{
    padding-top: 10vh;
}

.CardBody{
    flex-grow: '1';
    padding: '8px';
    text-align: 'center';
    align-items: center;
}

.Footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 25px;
}

.FooterIcons {
    color: 'inherit' !important;
    display: 'flex' !important;
    align-items: 'center' !important;
    flex-wrap: 'wrap' !important;
}
  